*{box-sizing: border-box;}
html,
body {
	height: 100%;
	color: #828282;
	line-height: 24px;
	font: 12px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


select{
	height: 30px;
    margin-top: 3px;
    line-height: 1.3;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 2px;
    border-color: #dadada;
}
table {width: 100%;empty-cells: show;background-color: transparent;border-collapse: collapse;border-spacing: 0;border: 1px solid #ddd;border-collapse: separate;border-bottom: 0;border-left: 0;}
th,td {border-left: 1px solid #ddd;padding: 4px;line-height: 20px;border-bottom: 1px solid #ddd;word-break: break-all;text-align: left;}
tr{height: 40px;}
ul{margin: 0;}
li{margin: 0;padding: 0;}
#table input, #table select{padding: 5px 5px;display: inline-block;box-sizing: border-box;}
fieldset{
	border-width: 1px;
	border-style: inherit;
	border-color: rgb(192, 192, 192);
	border-image: initial;

}
legend{
	font-weight: 600;
	font-size: 14px;
}
.sfdp-field-con-view{
	min-height: 35px;
	background-color: #FFFFFF;
}
.sfdp-rows-view{
	position: relative;
	min-height: 42px;
}

.ico{
	font-weight: 700;
    font-size: 12px;
    color: #3963bc;
}
.red{
	margin-left: 5px;
	color: #ff0000;
}

.sfdp-cl {
	clear: both;
}
.sfdp-mt10 {
	margin-top: 10px;
}
.sfdp-top {
	background-color: #3963bc;
	height: 50px;
	line-height: 50px;
	padding-left: 15px;
	font-size: 22px;
	color: #FFFFFF;
}
.sfdp-con{
	border: 1px #E6E6E6 solid;
	height: calc(100% - 52px);
}
#sfdp-main {
	min-height: 300px;
	height: calc(100% - 3px);
	background-color: #FFFFFF;
	border: 1px dashed #999;
	overflow-y: auto;
}
.button{
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;
	font-weight: 400;
	white-space: nowrap;
	vertical-align: middle;
	border: solid 1px #ddd;
	width: auto;
	transition: background-color .1s linear;
	line-height: 18px;
	color: #fff;
	background-color: #3963bc;
	padding: 4px 12px;
	border-radius: 4px;
}
.sfdp-att {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.sfdp-tool-title {
	color: #000000;
}
.sfdp-tool-title {
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	border-bottom: 1px #E6E6E6 solid;
	margin-bottom: 5px;
	font-weight: 900;
}
.sfdp-title {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px #E6E6E6 solid;
	margin-bottom: 5px;
	font-weight: 900;
}
.sfdp-tool-fix {
	padding-left: 5px;
	height: 26px;
	line-height: 26px;
	border: 1px #E6E6E6 solid;
	margin: 2px;
	cursor: move;
	cursor: -webkit-grabbing;
	float: left;
	width: 100px;
	margin-left: 10px;
}
.sfdp-tool-con {
	padding-left: 5px;
	height: 26px;
	line-height: 26px;
	border: 1px #E6E6E6 solid;
	margin: 2px;
	cursor: move;
	cursor: -webkit-grabbing;
	float: left;
	width: 100px;
	margin-left: 10px;
}
.sfdp-tool-con a img{
	width: 18px;
	margin-top:3px;
}
.sfdp-tool-con:hover{
	border: 1px #3963bc dashed;
}
.view-action {
	position: absolute;
	right: 5px;
	bottom: 10px;
	line-height: 28px;
	z-index: 9;
}
.sfdp-ctrl-active {
	position: relative;
	border: 2px solid #3963bc;
}
.sfdp-rows{
	position: relative;
	min-height: 42px;

}
.sfdp-rows:hover {
	border: 1px dashed #3963bc;
}
.sfdp-field-con {
	height: 38px;
	background-color: #FFFFFF;
	border: 1px dashed #999;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
	float: left;
}
.col-1{width:8.3333333%}
.col-2{width:16.666666%}
.col-3{width:25%}
.col-4{width:33.3333333%}
.col-5{width:41.6666666%}
.col-6{width:50%}
.col-7{width:58.3333333%}
.col-8{width:66.6666666%}
.col-9{width:75%}
.col-10{width:83.333333%}
.col-11{width:91.666666%}
.col-12{width:100%}
.sfdp-form-item {
	margin-bottom: 15px;
	clear: both;
}
.sfdp-label {
	height: 38px;
	float: left;
	display: block;
	padding: 7px 10px;
	font-weight: 400;
	line-height: 20px;
	text-align: right;
	color: #3963bc;
	font-weight: 800;
	min-width: 100px;
}
.sfdp-input-block {
	float: left;
	left: -1px;
}

.sfdp-input, .sfdp-textarea {
	display: block;
	width: 100%;
	padding-left: 10px;
}
.sfdp-input, .sfdp-select, .sfdp-textarea {
	 border-radius: 0 2px 2px 0;
	height: 30px;
	width: 98%;
	margin-top: 3px;
	line-height: 1.3;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	border-radius: 2px;
	border-color: #dadada;
}
#sortable1, #sortable2 {
	border: 1px solid #eee;
	min-height: 30px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	margin-right: 10px;
	display:inline-block;
	min-width: 150px;
}
.ui-state-highlight{
	border: 1px solid #dad55e;
	background: #fffa90;
	color: #777620;
}
.ui-state-default{
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}
#sortable1 li, #sortable2 li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 140px;
	float:left;
	font-size: 10px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
	width: 1px;
	height: 2px;
	background-color: #f5f5f5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
	border-radius: 1px;
	background-color: #f5f5f5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
	border-radius: 1px;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
	background-color: #c8c8c8;
}




.scrollBar {
	width: 100%;
	padding-left: 20px;
}

#progressBar {
	width: 100%;
	height: 10px;
	background-color: #ccc;
	margin: 0 auto;
	margin-top: 10px;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	min-width: 160px;
}

#progressBar_Track {
	width: 80%;
	height: 10px;
	background-color: #3963bc;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}

.slider-range{
	width: 100%;
	position: relative;
	height: 30px;
	box-sizing: border-box;
	line-height: 30px;
}

.slider-range span.slider{
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
	background-color: #3963bc;
	left: -15px;
	border: 1px solid #eee;
	box-sizing: border-box;
	box-shadow: 0 0 2px #7d7776;
	position: absolute;
	z-index: 3;
	margin-top: 10px;
}

.slider-range span.line,.slider-range span.active-line{
	width: 100%;
	display: block;
	vertical-align: middle;
	height: 13px;
	background-color: #fff;
	border-radius: 30px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 12px;
}

.slider-range span.active-line{
	width: 0;
	left: 0;
	z-index: 2;
	background-color: #3963bc;
}

.slider-range .action-value,#progressBar .action-value{
	display: inline-block;
	padding: 2px 15px;
	line-height: 30px;
	box-sizing: border-box;
	vertical-align: middle;
	border-radius: 5px;
	font-size: 14px;
	position: absolute;
	height: 30px;
	left: -18px;
	top: -15px;
}