*{box-sizing: border-box;}
html,
body {
	height: 100%;
	color: #828282;
	line-height: 24px;
	font: 12px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


select{
	height: 30px;
    margin-top: 3px;
    line-height: 1.3;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 2px;
    border-color: #dadada;
}
table {width: 100%;empty-cells: show;background-color: transparent;border-collapse: collapse;border-spacing: 0;border: 1px solid #ddd;border-collapse: separate;border-bottom: 0;border-left: 0;}
th,td {border-left: 1px solid #ddd;padding: 8px;line-height: 20px;border-bottom: 1px solid #ddd;word-break: break-all;text-align: left;}
tr{height: 40px;}
ul{margin: 0;}
li{margin: 0;padding: 0;}
#table input, #table select{padding: 5px 5px;display: inline-block;box-sizing: border-box;}

.sfdp-field-con-view{
	min-height: 35px;
	background-color: #FFFFFF;
}
.sfdp-rows-view{
	position: relative;
	min-height: 42px;
}

.ico{
	font-weight: 700;
    font-size: 16px;
    color: #2d6dcc;
}
.red{
	margin-left: 5px;
	color: #ff0000;
}

.sfdp-cl {
	clear: both;
}
.sfdp-mt10 {
	margin-top: 10px;
}
.sfdp-top {
	background-color: #2d6dcc;
	height: 50px;
	line-height: 50px;
	padding-left: 15px;
	font-size: 22px;
	color: #FFFFFF;
}
.sfdp-con{
	border: 1px #E6E6E6 solid;
	height: calc(100% - 52px);
}
#sfdp-main {
	min-height: 300px;
	height: calc(100% - 3px);
	background-color: #FFFFFF;
	border: 1px dashed #999;
	overflow-y: auto;
}
.button{
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;
	font-weight: 400;
	white-space: nowrap;
	vertical-align: middle;
	border: solid 1px #ddd;
	width: auto;
	transition: background-color .1s linear;
	line-height: 18px;
	color: #fff;
	background-color: #2b85e4;
	padding: 4px 12px;
	border-radius: 4px;
}
.sfdp-att {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.sfdp-tool-title {
	color: #000000;
}
.sfdp-tool-title {
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	border-bottom: 1px #E6E6E6 solid;
	margin-bottom: 5px;
	font-weight: 900;
}
.sfdp-title {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px #E6E6E6 solid;
	margin-bottom: 5px;
	font-weight: 900;
}
.sfdp-tool-fix {
	padding-left: 5px;
	height: 26px;
	line-height: 26px;
	border: 1px #E6E6E6 solid;
	margin: 2px;
	cursor: move;
	cursor: -webkit-grabbing;
	float: left;
	width: 100px;
	margin-left: 10px;
}
.sfdp-tool-con {
	padding-left: 5px;
	height: 26px;
	line-height: 26px;
	border: 1px #E6E6E6 solid;
	margin: 2px;
	cursor: move;
	cursor: -webkit-grabbing;
	float: left;
	width: 100px;
	margin-left: 10px;
}
.sfdp-tool-con a img{
	width: 18px;
	margin-top:3px;
}
.sfdp-tool-con:hover{
	border: 1px #2d6dcc dashed;
}
.view-action {
	position: absolute;
	right: 5px;
	bottom: 10px;
	line-height: 28px;
	z-index: 9;
}
.sfdp-ctrl-active {
	position: relative;
	border: 1px solid #ff0000;
}
.sfdp-rows{
	position: relative;
	min-height: 42px;

}
.sfdp-rows:hover {
	border: 1px dashed #2d6dcc;
}
.sfdp-field-con {
	min-height: 35px;
	background-color: #FFFFFF;
	border: 1px dashed #999;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
	float: left;
}
.col-1{width:8.3333333%}
.col-2{width:16.666666%}
.col-3{width:25%}
.col-4{width:33.3333333%}
.col-5{width:41.6666666%}
.col-6{width:50%}
.col-7{width:58.3333333%}
.col-8{width:66.6666666%}
.col-9{width:75%}
.col-10{width:83.333333%}
.col-11{width:91.666666%}
.col-12{width:100%}
.sfdp-form-item {
	margin-bottom: 15px;
	clear: both;
}
.sfdp-label {
	height: 38px;
	float: left;
	display: block;
	padding: 9px 15px;
	font-weight: 400;
	line-height: 20px;
	text-align: right;
	color: #2d6dcc;
	font-weight: 800;
}
.sfdp-input-block {
	float: left;
	left: -1px;
}

.sfdp-input, .sfdp-textarea {
	display: block;
	width: 100%;
	padding-left: 10px;
}
.sfdp-input, .sfdp-select, .sfdp-textarea {
	 border-radius: 0 2px 2px 0;
	height: 30px;
	width: 98%;
	margin-top: 3px;
	line-height: 1.3;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	border-radius: 2px;
	border-color: #dadada;
}
#sortable1, #sortable2 {
	border: 1px solid #eee;
	min-height: 30px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	margin-right: 10px;
	display:inline-block;
	min-width: 150px;
}
.ui-state-highlight{
	border: 1px solid #dad55e;
	background: #fffa90;
	color: #777620;
}
.ui-state-default{
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}
#sortable1 li, #sortable2 li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 140px;
	float:left;
	font-size: 10px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
