<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="__SFDP__/sfdp.5.0.css" />
		<script src="__SFDP__/lib/jquery-1.12.4.js"></script>
		<script src="__SFDP__/lib/layer/2.4/layer.js"></script>
		<script src="__SFDP__/js/sfdp.fun.js"></script>
		<title>Sfdp超级表单设计器</title>
	</head>
<body>
<div class="page-container">
	<div style='float: left;width:8%'>
		<a onClick='commonfun.Askshow("{:url("/index/sfdp/sfdpApi",["act"=>"create"])}","是否创建新表单？")' class="button">创建</a><hr/><a onclick="location.reload();" class="button ">刷新</a>
	</div>
	<div style='float: left;width:92%'>
		<table class="table" >
			<tr class="text-c"><th >编码</th><th>标题</th><th>发布时间</th><th>启用状态</th><th>锁定状态</th><th>操作</th></tr>
			{volist name='list' id='k'}
				<tr class="text-c">
					<td>{$k.s_bill}</td>
					<td>{$k.s_title}</td>
					<td>{$k.add_time|date='Y-m-d'}</td>
					<td>{$k.s_design}</td>
					<td>{eq name='k.s_look' value='0'}未锁定{else/}已锁定（{$k.s_db}）{/eq}</td>
					<td class="text-l">
						<a onClick="commonfun.openfullpage('设计——{$k.s_bill}','{:url('/index/sfdp/sfdpApi',['act'=>'desc','sid'=>$k.id])}')" class="button">设计</a>
						<a 
						onClick="commonfun.openfullpage('元素管理——{$k.s_bill}','{:url('/index/sfdp/sfdpApi',['act'=>'ui','sid'=>$k.id])}')" class="button">元素</a>
						{neq name='k.s_field' value='1'}
						<a onClick='commonfun.Askshow("{:url("/index/sfdp/sfdpApi",["act"=>"fix","sid"=>$k.id])}","部署后将生成最新版本,确定是否执行?")'  class="button">部署</a>
						<a onClick="commonfun.openfullpage('脚本管理——{$k.s_bill}','{:url('/index/sfdp/sfdpApi',['act'=>'script','sid'=>$k.id])}')"   class="button">脚本</a>
						{/neq}
						{eq name='k.s_db_bak' value='1'}
						<a onClick='commonfun.Askshow("{:url("/index/sfdp/sfdpApi",["act"=>"deldb","sid"=>$k.id])}","删除备份数据库,是否执行?")'  class="button">DelDb</a>
						{/eq}
					</td>
				</tr>
			{/volist}
		</table>
	</div>
</div>
</body>
</html>
