{include file='pub/base' /}
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/fb/fb.css" />
  <style>
  * {
    box-sizing: border-box;
  }
  body {
    background-color: #d6d3d3;
    font-family: sans-serif;
  }
  input[type=text] {
    height: 26px;
    margin-bottom: 3px;
  }

  select {
    margin-bottom: 5px;
    font-size: 40px;
  }
  .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
  .table_tr{
	height: 40px;
  }
  .logout{
	margin: 10px;
  }
  .x-1{
	width:100%
  }
  .x-2{
	width:50%
  }
  .x-4{
	width:25%
  }
  </style>
<div class="page-container">
  <div class="fb-main">
   <ul style='list-style: none;padding: 0 0 0 20px;border-bottom: 1px solid #ccc;'><li><h3>表单设计Form design V3.0</h3></li></ul>
  <div class="fb-left">
 <ul class="fb-ul"><li class="active">设计控制区 Design control area</li></ul>
		<div class="fb-content">
				<div class="section">
					<a  class="fb-button" onclick='fb_config("fb_name")'><span class="fa fa-upload"></span> 配置表单</a>
					<a  class="fb-button"><span class="fa fa-font"></span> 保存设计</a>
					<a  class="fb-button"><span class="fa fa-square-o"></span> 生成数据</a>
					<a  class="fb-button"><span class="fa fa-circle-o"></span> 系统帮助 </a>
					<a  class="fb-button" onclick='addtr(1)'><span class="fa fa-circle-o"></span> 1×1单元格 </a>
					<a  class="fb-button" onclick='addtr(2)'><span class="fa fa-circle-o"></span> 1×2单元格 </a>
					<a  class="fb-button" onclick='addtr(3)'><span class="fa fa-circle-o"></span> 1×3单元格 </a>
					<a  class="fb-button" onclick='addtr(4)'><span class="fa fa-circle-o"></span> 1×4单元格 </a>
				</div>
		 </div>
  <ul class="fb-ul"><li class="active">表单控件库 Form control library</li></ul>
		  <div class="fb-content">
				<div class="section">
					<a data-field-type="upload" class="fb-button fbtd"><span class="fa fa-upload"></span> 上传组件</a>
					<a data-field-type="text" class="fb-button fbtd"><span class="fa fa-font"></span> 文本控件</a>
					<a data-field-type="checkboxes" class="fb-button fbtd"><span class="fa fa-square-o"></span> 多选框</a>
					<a data-field-type="radio" class="fb-button fbtd"><span class="fa fa-circle-o"></span> 单选框 </a>
					<a data-field-type="date" class="fb-button fbtd"><span class="fa fa-calendar"></span> 日期</a>
					<a data-field-type="dropdown" class="fb-button fbtd"><span class="fa fa-caret-down"></span> 下拉</a>
					<a data-field-type="email" class="fb-button fbtd"><span class="fa fa-envelope-o"></span> 邮箱</a>
				</div>
	</div>
	</div>
<div class="fb-center"  style='padding-top: 0px; '>
	
	<table id='table_center' class="table table-border table-bordered table-bg">
		<tbody id='fb-fz'>
		
		<tr class='table_tr'><th colspan='4'>正在设计：<b id='fb_name'></b></th></tr>
		</tbody>
	</table>
 
</div>
<div class="fb-right">
 <ul class="fb-ul"><li class="active">日志输出区 Logs Out</li></ul>
 <div id="logout" class="logout"></div>
</div>
</div>
<input name='ziduan' id='ziduan' value='{$info.ziduan ?? ''}' type='hidden'>

<input name='id' id='id' value='{$fid}' type='hidden'>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script>
  $( function() {
	var fb_data = {fb_name:'',fb_ver:dateFormat(new Date(), "yyyy-MM-dd hh:mm:ss"),fb_json:"aaa@aaa.com"};
	localStorage.setItem("json_data",JSON.stringify(fb_data));
  
	//var json_data = JSON.parse(localStorage.getItem("json_data"));
   console.log(fb_data)
    $( ".fb-fz" ).sortable({
		opacity: 0.5, //
		//placeholder: "box-holdplace",
      revert: true,
	  stop:function(event,ui){ //结束
                     console.log(4)
                   
          }
    });

    $( ".fb-fz" ).disableSelection();

	
	 $( ".fb-fz" ).droppable({
		accept: ".fbtd",
		scope: "tasks",
      drop: function( event, ui ) {
       // $( this ).find( ".placeholder" ).remove();
       // $( "<td></td>" ).text( ui.draggable.text() ).appendTo( this );
      },
		deactivate: function( event, ui ) {
		
		console.info(event);
		console.info(ui);
	  }
    }).sortable({
      items: "li:not(.placeholder)",
      sort: function() {
        // 获取由 droppable 与 sortable 交互而加入的条目
        // 使用 connectWithSortable 可以解决这个问题，但不允许您自定义 active/hoverClass 选项
        //$( this ).removeClass( "ui-state-default" );
      }
    });
    $( ".fbtd" ).draggable({
      connectToSortable: ".fb-fz",
      helper: "clone",
      revert: "invalid",
	  cursor: "move"
    });
   // $( ".fb-button" ).disableSelection();
   
  
  } );
   function addtr(id){ 
		if(!has_item('fb_name')){
			return;
		}
		var $targetTbody= $("#table_center tbody");
		var $tr = $targetTbody.children("tr[class='table_tr']:last");
		switch(id) {
			case 1:
				var html ='<tr class="table_tr"><td class="fb-fz x-1" colspan="4"></td></tr>';
				break;
			case 2:
				var html ='<tr class="table_tr"><td class="fb-fz x-2" colspan="2"></td><td colspan="2"class="fb-fz"></td></tr>';
				break;
			case 3:
				var html ='<tr class="table_tr"><td class="fb-fz x-4"></td><td class="fb-fz x-4"></td><td colspan="2"class="fb-fz  x-2"></td></tr>';
				break;
			case 4:
				var html ='<tr class="table_tr"><td class="fb-fz x-4"></td><td class="fb-fz x-4"></td><td class="fb-fz x-4"></td><td class="fb-fz x-4"></td></tr>';
				break;
			 default:
				var html ='';
		} 
		
		
		$tr.after(html);
		    $( ".fb-fz" ).sortable({
				opacity: 0.5, //
				//placeholder: "box-holdplace",
				revert: true,
				stop:function(event,ui){ //结束
				console.log(4)
          }
		
    });
		var szInfo = "<div>" + dateFormat(new Date(), "mm:ss") + " 新增[" + id + "]单元格</div>";
		$("#logout").html(szInfo + $("#logout").html());
		$(".table_tr").dblclick(function(){
			$(this).remove();
		});
	}
	
	
	
	// 格式化时间
	function dateFormat(oDate, fmt) {
		var o = {
			"M+": oDate.getMonth() + 1, //月份
			"d+": oDate.getDate(), //日
			"h+": oDate.getHours(), //小时
			"m+": oDate.getMinutes(), //分
			"s+": oDate.getSeconds(), //秒
			"q+": Math.floor((oDate.getMonth() + 3) / 3), //季度
			"S": oDate.getMilliseconds()//毫秒
		};
		if (/(y+)/.test(fmt)) {
			fmt = fmt.replace(RegExp.$1, (oDate.getFullYear() + "").substr(4 - RegExp.$1.length));
		}
		for (var k in o) {
			if (new RegExp("(" + k + ")").test(fmt)) {
				fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
			}
		}
		return fmt;
	}
	function fb_config(Item){
	  var name=prompt("请输入设计的表单姓名","测试表单");
	  if (name!=null && name!=""){
		 $('#fb_name').html(name);
		 var json_data = JSON.parse(localStorage.getItem("json_data"));
			json_data[Item]=name;
			console.log(json_data)
		}else{
			alert('请配置参数' + Item + '的信息');
		}
	}
	function has_item(Item){
		var json_data = JSON.parse(localStorage.getItem("json_data"));
		if(json_data[Item]==''){
			alert('参数' + Item + '未配置！');
			return ; 
		}
	}
  
  </script>

